.container-support {
  padding: 30px 20px 110px 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.container-support .support-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
