.container-buying-result {
  height: 100vh;

  padding: 30px 20px 0 20px ;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.container-buying-result .buying-result {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-buying-result .buying-result .buying-result-tgs {
  padding: 20px;
}

.container-buying-result .buying-result .buying-result-tgs > tgs-player {
  width: 176px;
  height: 176px;
}

.container-buying-result .buying-result-button-box {
  padding: 0 0 30px 0;
}

.container-buying-result .buying-result-button-box .buying-result-button {
  width: 100%;
  height: 53px;

  border-radius: 10px;
}