.classic-input-wrapper {
  position: relative;
}

.classic-input-wrapper .class-input{
  width: 100%;
  height: 45px;

  padding: 15px;

  font-family: var(--font-family);

  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;

  outline: none;
}

.classic-input-wrapper .class-input::placeholder {
  color: var(--ui-description-ft-bg);
  font-size: var(--size-body2);
}

.classic-input-wrapper .class-input:focus,
.classic-input-wrapper .class-input:not(:placeholder-shown) {
  border: 1px solid var(--blue-button-bg);
}

.classic-input-wrapper .paste-button {
  position: absolute;
  height: 35px;

  padding: 0 10px;

  border: none;

  font-family: var(--font-family);
  color: var(--blue-button-bg);
  font-size: var(--size-tagline);

  background-color: transparent;

  cursor: pointer;
  transition: background-color 0.3s ease;

  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.classic-input-wrapper .paste-button:hover {
  color: var(--blue-button-bg-click);
}
