.style-button-item {
  width: 100%;
  height: 42px;

  padding: 0 0 0 10px;

  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  gap: 15px;

  cursor: pointer;
}

.style-button-item .bottom-border {
  height: 100%;

  padding: 0 10px 0 0;

  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.style-button-item:not(:last-of-type) .bottom-border{
  border-bottom: 1px solid var(--ui-border-bg);
}


.style-button-item .bottom-border .center-data {
  font-family: var(--font-family);
  text-align: start;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px
}

.style-button-item .bottom-border .center-data .header-text {
  font-size: var(--size-body2);
  font-weight: normal;
}

.style-button-item .bottom-border .center-data .footer-text {
  color: var(--ui-description-ft-bg);
  font-size: var(--size-tagline);
}

.style-button-item .bottom-border .right-data {
  display: flex;
  align-items: center;
  justify-content: center;
}
