.container-add-teacher {
  padding: 30px 20px 110px 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-add-teacher .content-add-teacher {  
  display: flex;
  flex-direction: column;
  gap: 35px;
}