.admin-header-area {
  width: 100%;

  font-style: var(--font-family);

  text-align: center;
  display: grid;
  gap: 8px;     
}

.admin-header-area .admin-header {
  font-size: var(--size-h3);
}

.admin-header-area .admin-text {
  font-size: var(--size-body1);
}
