.style-withdraw-fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.style-withdraw-fields > p {
  margin: 0 0 0 10px;
  color: var(--ui-description-ft-bg);
  font-size: var(--size-tagline);
}