.style-history-task {
	width: 100%;
	min-height: 106px;

  border: 1px solid transparent;
  border-radius: 20px;

  background-color: var(--ui-bg);

	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.chose-history {
	border-color: var(--ui-action-bg);
}

/* HEADER */
.style-history-task .task-header {
  padding-block: 14px;
  padding-inline: 16px 20px;

	display: flex;
	align-self: stretch;
	justify-content: space-between;
}

.style-history-task .task-header .task-info {
	display: flex;
	flex-direction: column;

	word-break: break-word;
	overflow-wrap: anywhere;
}

.style-history-task .task-header .task-info .task-title {
  color: var(--ui-text-bg);
	font-size: var(--size-body1);
	font-weight: bold;
}

.style-history-task .task-header .task-info .task-subject-name {
  color: var(--ui-text-bg);
	font-size: var(--size-body2);
}

.style-history-task .task-header .task-button-box {
	display: flex;
	justify-content: start;
}

.style-history-task .task-button-box .task-button {
	width: 95px;
	height: 24px;
	font-size: var(--size-tagline);
}

/* FOOTER */

.style-history-task .task-footer {
  padding-block: 10px;
  padding-inline: 16px 20px;

	border-top: 1px solid var(--ui-border-bg);

	font-size: var(--size-body2);
	color: var(--ui-description-ft-bg);

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}

.style-history-task .task-footer .task-developer-info {
	display: flex;
	gap: 5px;
}

.style-history-task .task-footer .task-time-created {
	font-size: var(--size-tagline);
	color: var(--ui-description-ft-bg);
}
