.style-list-task {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 7px;
}

.style-list-task > p {
  margin: 0 0 0 10px;
  color: var(--description-ft-bg);
  font-size: var(--size-body2);
}

.style-list-task .list-task {
  display: flex;
  flex-direction: column;

  gap: 13px;                                                  
}

.style-list-task .empty-list {
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.style-list-task .empty-list > tgs-player {
  width: 123px;
  height: 123px;
}

.style-list-task .empty-list > p {
  font-size: var(--size-body1);
  font-weight: bold;
}

.style-list-task .empty-list > div {
  font-size: var(--size-tagline);
  text-align: center;
}