.class-subject {
  height: 52px;
  width: 100%;

  padding: 10px 15px;

  font-family: var(--font-family);
  font-size: var(--size-body2);
  font-weight: bold;
  text-align: start;

  border-radius: 10px;
  border: 1px solid var(--ui-border-bg);

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}