.class-subject {
  height: 45px;
  width: 100%;

  padding: 10px 15px;

  color: var(--ui-text-bg);
  font-size: var(--size-body2);
  font-weight: bold;
  text-align: start;

  border-radius: 20px;
  border: 1px solid var(--ui-bg);

  background-color: var(--ui-bg);

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}