.style-optional-item {
  font-family: var(--font-family);

  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 9px
}

.style-optional-item > p {
  font-size: var(--size-body1);
  flex-grow: 1;
}
