.error-area {
  min-height: 52px;
  width: calc(100% - 40px);
  max-width: 500px;

  padding: 10px 25px;
  
  font-size: var(--size-tagline);
  font-family: var(--font-family);

  border-radius: 10px;
  background-color: var(--ui-special-bg2);
  
  display: flex;
  align-items: center;
  gap: 25px;
  
  position: fixed;

  bottom: 110px;
  right: 20px;
  transform: translateX(150%); 
  animation: 
    slideIn 0.5s ease-out forwards,
    slideOut 0.5s ease-out 4s forwards; 
  z-index: 1000;
}

.error-area > svg {
  flex-shrink: 0;
}

@keyframes slideIn {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(150%); /* Зникає назад за той самий край */
    opacity: 0;
  }
}