.style-textarea-box {
  padding: 0 15px;
  width: 100%;
	max-width: 500px;

  position: fixed;
	bottom: 110px;
	left: 50%;
	transform: translateX(-50%);
}

.style-textarea {
	width: 100%;
	height: 75px;
	padding: 10px 15px;

  color: var(--ui-text-bg);

  border: none;
	border-radius: 20px;

  background-color: var(--ui-bg);

	resize: none;
	outline: none;
}

.style-textarea::placeholder {
	color: var(--ui-description-ft-bg);
	font-size: var(--size-tagline);
}
