.style-textarea-box {
  padding: 0 15px;
  width: 100%;
	max-width: 500px;

  position: fixed;
	bottom: 110px;
	left: 50%;
	transform: translateX(-50%);
}

.style-textarea {
	width: 100%;
	height: 75px;
	padding: 10px 15px;

	font-family: var(--font-family);

	border: 1px solid var(--ui-border-bg);
	border-radius: 10px;

	resize: none;
	outline: none;
}

.style-textarea::placeholder {
	color: var(--ui-description-ft-bg);
	font-size: var(--size-tagline);
}
