.style-teachers {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;
}

.style-teachers .teacher {
  padding: 5px 10px;
  border-bottom: 1px solid var(--ui-border-bg);
}

.style-teachers .teacher:last-child {
  border-bottom: 0
}