.style-price {
  position: relative;
  height: 100%;
  padding: 30px 20px 0px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.style-price .price {
  font-size: var(--size-h1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 

  display: flex;
  align-items: center;
  gap: 10px;
}

.style-price .price > span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--size-h4);
  font-weight: bold;
}

.style-price .bottom-controls {
  width: 100%;

  padding: 0 0 30px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.style-price .bottom-controls .price-button-box {
  width: 100%;
}

.style-price .bottom-controls .price-button-box .price-button {
  height: 55px;
  width: 100%;
  border-radius: 10px;
}