.gray-input-wrapper {
  position: relative;
  width: 100%;

  font-family: var(--font-family);
  font-size: var(--size-tagline);
}

.gray-input-wrapper .class-gray-input {
  width: 100%;
  height: 31px;

  padding: 0 15px 0 30px;

  outline: none;
  transform: 0.1s ease;

  border-radius: 10px;
  border: 0px solid;
  background-color: var(--input-gray-bg);
}

.gray-input-wrapper .gray-input-ph {
  position: absolute;
  color: var(--input-gray-ph-bg);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 

  transition: all 0.4s ease;
  pointer-events: none;
}

.gray-input-wrapper .gray-input-ph p {
  transition: opacity 0.4s ease;
}

.class-gray-input:focus + .gray-input-ph,
.class-gray-input:not(:placeholder-shown) + .gray-input-ph {
  left: 10px;
  transform: translateY(-50%);
}

.class-gray-input:focus + .gray-input-ph p,
.class-gray-input:not(:placeholder-shown) + .gray-input-ph p {
  opacity: 0;
}