.style-scroll-button {
  height: 43px;
  width: 43px;
  border: none;
  border-radius: 50%;

  background-color: var(--ui-special-bg1);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 25px;
  bottom: 120px;

  cursor: pointer;
}

.style-scroll-button path {
  fill: var(--ui-action-bg);
}

/* стрілка для top */
.style-scroll-button.top svg {
  transform: rotate(270deg); /* вгору */
}

/* стрілка для bottom */
.style-scroll-button.bottom svg {
  transform: rotate(90deg); /* вниз */
}

.style-scroll-button:hover {
  filter: brightness(98%);
}
