.style-user {
  width: 100%;

  padding: 0 10px;

  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.style-user .user-info .user-online-indicator {
  height: 50px;
  width: 100%;

  padding: 0 0 3px 0;

  border-bottom: 1px solid var(--ui-border-bg);

  display: flex;
  align-items: center;
  justify-content: center;
}

.style-user .user-info .user-online-indicator .indicator {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  background: var(--user-indicator-online);
}

.style-user .user-info .item {
  padding: 5px 0;
  border-bottom: 1px solid var(--ui-border-bg);
}

.style-user .user-on-action {
  padding: 15px;

  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.style-user .user-on-action .user-action-button-box {
  width: 100%;
}

.style-user .user-on-action .user-action-button{
  width: 100%;
  height: 50px;

  padding: 5px 0;

  font-size: var(--size-tagline);
  font-weight: normal;

  border-radius: 10px;

  flex-direction: column;
  justify-content: space-between;
  gap: 1px;
}