.message-area {
  min-height: 45px;
  width: 100%;
  padding: 10px 25px;

  font-size: var(--size-body1);
  font-family: var(--font-family);

  border-radius: 10px;

  background-color: var(--message-buy-bg);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.message-area > div {
  display: flex;
  align-items: center;
  justify-content: center;
}