.style-instruction {
  padding: 15px 10px;

  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;
}

.style-instruction > p {
  margin: 0 0 0 10px;
  font-size: var(--size-body1);
  font-weight: bold;
}

.style-instruction .instruction {
  padding: 10px 0;
}

.style-instruction .instruction .point {
  padding: 10px 0;
  display: flex;
  gap: 10px;
}

.style-instruction .instruction .point .number {
  width: 26px;
  height: 26px;

  margin: 4px 0 0 0;

  color: white;
  font-size: var(--size-body2);

  background-color: var(--ui-border-bg);;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.style-instruction .instruction .point .number .text {
  font-size: var(--size-body2);
}