.style-user {
  width: 100%;

  padding-block: 10px 0;
  padding-inline: 16px;

  border-radius: 20px;

  background-color: var(--ui-bg);

  display: flex;
  align-items: center;
  flex-direction: column;
}

.style-user .style-avatar {
  margin: 0 0 10px 0;
}

.style-user .item {
  width: 100%;

  padding: 5px 0;

  border-top: 1px solid var(--ui-border-bg);

  font-size: var(--size-tagline);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.style-user .item .left-text {
  color: var(--ui-text-bg);
}

.style-user .item .right-text {
  color: var(--ui-description-ft-bg);
}

.style-user .buttons-box {
  width: 100%;

  padding: 10px 0;

  border-top: 1px solid var(--ui-border-bg);

  display: flex;
  justify-content: space-between;
  
  gap: 10px;
}

.style-user .buttons-box .button {
  height: 45px;

  flex: 1;
}