.status-switch {
  position: relative;

  width: 42px;
  height: 22px;
  margin: 0;

  border-radius: 13px;

  background: var(--color-bg-main);

  display: inline-block;
  vertical-align: top;

  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
 }

 .status-switch::after {
  content: "";

  display: inline-block;
  position: absolute;
  left: 1px;
  top: 1px;

  width: 28px;
  height: 20px;
  background-color: #fff;
  border-radius: 13px;

  transform: translateX(0);

  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.status-switch:checked::after {
  transform: translateX(12px); 
}

.status-switch:checked {
  background: var(--ui-action-bg);
}

.status-switch:focus,
.status-switch:active {
  -webkit-tap-highlight-color: transparent;
}
