.style-popup-deposit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 320px;
  height: 200px;

  border-radius: 10px;
  border: 1px solid var(--ui-border-bg);

  background-color: var(--color-bg-main);

}

.style-popup-deposit .content-popup-deposit {
  width: 100%;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.style-popup-deposit .content-popup-deposit .popup-deposit-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.style-popup-deposit .content-popup-deposit .popup-deposit-text > p {
  font-size: var(--size-body2);
  font-weight: bold;
}

.style-popup-deposit .content-popup-deposit .popup-deposit-text > span {
  font-size: var(--size-tagline);
}

.style-popup-deposit .content-popup-deposit .popup-buttons {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 10px;
}

.style-popup-deposit .content-popup-deposit .popup-buttons .popup-button {
  width: 100%;
  height: 30px;

  font-size: var(--size-tagline);
  font-weight: normal;

  border-radius: 10px;
}