.class-navbar {
  position: fixed; 
  width: 80%;
  max-width: 500px;        
  height: 55px;

  padding: 0 2.5px;
  border-radius: 20px;
  background-image: var(--navbar-bg);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5px;

  bottom: 30px;    
  left: 50%;       
  transform: translateX(-50%); 

  z-index: 1000;  
}

.class-navbar .navbar-item {
  height: 90%;

  font-size: var(--size-body2);
  color: var(--navbar-ft-bg);
  font-weight: bold;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-grow: 1; 
  
  transition: flex-grow 0.5s, padding 0.5s; 
  opacity: 0.7;
}

.class-navbar .navbar-item:hover {
  opacity: 0.9;
}

.class-navbar .item-choose {
  padding: 0 10px;

  border-radius: 17px;
  background-image: var(--navbar-item-bg);

  justify-content: center;
  flex-grow: 1;
  opacity: 1;
}

.class-navbar .navbar-item:focus,
.class-navbar .navbar-item:active {
  -webkit-tap-highlight-color: transparent;
}