.style-action-switch {
  position: relative;
	height: 33px;
	padding: 2px;

	border: none;
	border-radius: 20px;

	background-color: var(--action-switch-bg);

	display: flex;
	align-items: center;
	gap: 5px;

	cursor: pointer;
	overflow: hidden;
}

.style-action-switch .option {
	min-width: 65px;
	height: 100%;

	padding: 0 10px;

	color: var(--action-switch-ft-bg);
	font-size: var(--size-body2);
	font-weight: bold;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	z-index: 2;
	transition: color 0.3s ease;
}

.style-action-switch .active {
	border-radius: 18px;

	color: var(--action-switch-ft-bg-active);

	background-color: var(--action-switch-bg-active);
}

