.color-box {
  width: 100%;
  height: 42px;
  background: var(--loading-ui-bg, #eee);
  background-size: 300% 300%;
  border-radius: 10px;
  animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}