.container-buying-task {
  padding: 30px 20px 110px 20px;
    
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.container-buying-task .buying-task {
  display: flex;
  flex-direction: column;
  gap: 20px;
}