.class-task-setting {
  position: relative;

  height: 100%;
  width: 120px;

  padding: 5px 10px;

  border-radius: 10px;
  border: 1px solid var(--ui-border-bg);

  background-color: transparent;

  display: flex;
  justify-content: space-between; 
}

.class-task-setting .setting-info {
  font-family: var(--font-family);
  font-size: var(--size-body2);

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.class-task-setting .setting-info .selected {
  font-weight: bold;
}

.class-task-setting .setting-icon {
  display: flex;
  justify-content: end;
  align-items: center;
}

.class-task-setting .setting-icon svg {
  width: 16px;
  height: 16px;
}