.class-task-setting {
  position: relative;

  height: 41px;
  width: 120px;

  padding: 0 10px;

  border-radius: 10px;
  border: 2px solid var(--ui-border-bg);

  background-color: transparent;

  display: grid; 
  grid-template-columns: 2fr 1fr; 
}

.class-task-setting .setting-info {
  height: 100%;
  width: 100%;

  font-family: var(--font-family);
  font-size: var(--size-body2);

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.class-task-setting .setting-info .selected {
  font-weight: bold;
}

.class-task-setting .setting-icon {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: end;
  align-items: center;
}

.class-task-setting .setting-icon svg {
  width: 16px;
  height: 16px;
}