.container-edit-developer {
  padding: 30px 20px 110px 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-edit-developer .content-edit-developer {
  display: flex;
  flex-direction: column;
  gap: 35px;
}