.loading-user {
	width: 100%;

  padding-block: 10px 0;
  padding-inline: 16px;

  border-radius: 20px;

  background-color: var(--ui-bg);

  display: flex;
  align-items: center;
  flex-direction: column;
}

.loading-user .icon {
  width: 40px;
  height: 40px;

	margin: 0 0 11px 0;

  background-color: var(--loading-bg);

  border-radius: 50%;
}

.loading-user .info-row {
  padding-block: 5px 6px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.loading-user .info-row .line-1 {
  width: 50px;
  height: 15px;

  border-radius: 20px;

  background-color: var(--loading-bg);
}

.loading-user .info-row .line-2 {
  width: 75px;
  height: 15px;

  border-radius: 20px;

  background-color: var(--loading-bg);
}

.loading-user .info-row .line-3 {
  width: 100px;
  height: 15px;

  border-radius: 20px;

  background-color: var(--loading-bg);
}

.loading-user .info-row .line-4 {
  width: 125px;
  height: 15px;

  border-radius: 20px;

  background-color: var(--loading-bg);
}

.loading-user .info-row .line-5 {
  width: 150px;
  height: 15px;

  border-radius: 20px;

  background-color: var(--loading-bg);
}

.loading-user .info-row .line-6 {
  width: 175px;
  height: 15px;

  border-radius: 20px;

  background-color: var(--loading-bg);
}

.loading-user .buttons {
  width: 100%;
  padding-block: 10px;
  display: flex;
  gap: 10px;
}

.loading-user .buttons .button {
  height: 45px;
  border-radius: 10px;
  background-color: var(--loading-bg);
  flex: 1;
}