.style-action-popup {
  position: fixed !important;;

  width: 175px;
  border-radius: 10px;

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;

  will-change: transform;

}

.style-action-popup .item {
  padding: 0px 10px;
  height: 33px;

  background-color: var(--popup-bg);

  font-family: var(--font-family);
  font-size: var(--size-body2);

  display: flex;
  align-items: center;
  cursor: pointer;
}

.style-action-popup .item:not(:last-of-type) {
  border-bottom: 1px solid var(--ui-border-bg);
}

.style-action-popup .item:first-child{
  border-radius: 10px 10px 0 0;
}

.style-action-popup .item:last-child{
  border-radius: 0 0 10px 10px;
}

.style-action-popup .item:hover {
  filter: brightness(98%);
}