:root {
  --font-family: "Inter", serif;
  
  --color-bg-main: white;

  --ui-border-bg: #EEEEF0;
  --ui-action-bg: #2DA5FF;
  --ui-special-bg1: #F7F9FB;
  --ui-special-bg2: #F3F5F8;
  --ui-special-bg3: #EEEEF0;
  --ui-special-ft-bg: #728A96;
  --ui-description-ft-bg: #999999;

  --blue-button-bg: #2DA5FF;
  --blue-button-bg-click: #57B7FF;
  --blue-button-text-bg: white;

  --gray-button-bg: #F4F4F6;
  --gray-button-bg-click: #EDEDED;
  --gray-button-text: #2381CC;

  --nonactive-button-bg: #EEEEF0;
  --nonactive-button-text-bg: white;

  --action-switch-bg: #F3F5F8;
  --action-switch-bg-active: white;
  --action-switch-ft-bg: #728A96;
  --action-switch-ft-bg-active: black;

  --status-switch-bg-nonactive: #F4F4F6;
  --status-switch-bg-active: #2381CC;
  --status-switch-bg: white;

  --transaction-deposit-ft-bg: #31CB57;
  --transaction-withdraw-ft-bg: #CB3134;

  --course-bg: #F3F5F8;
  --course-bg-active: white;
  --course-ft-bg: #728A96;
  --course-ft-bg-active: black;

  --navbar-bg: linear-gradient(to top, #020103 0%, #141414 47%, #272727 100%);
  --navbar-item-bg: linear-gradient(to top, #323232 0%, #434343 47%, #515151 100%);
  --navbar-ft-bg: white;

  --user-indicator-online: linear-gradient(to bottom, #8EFFCF 0%, #2AC281 100%);

  --size-h1: 40px;
  --size-h2: 32px;
  --size-h3: 24px;
  --size-h4: 18px;
  --size-body1: 16px;
  --size-body2: 14px;
  --size-tagline: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;

  background-color: var(--color-bg-main);
}

#root {
  overflow-y: auto;
}

.no-select {
  user-select: none; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}

.no-underline {
  text-decoration: none; 
  color: inherit;
}

.no-focus-and-active:focus,
.no-focus-and-active:active {
  -webkit-tap-highlight-color: transparent;
}

.container{
  height: 100vh;
  font-family: var(--font-family);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 0;
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

.container::-webkit-scrollbar {
  display: none;
}

.container .screen {
  max-width: 500px;
  width: 100%;
  height: 100vh;
}