:root {
  --font-family: "Inter", serif;
  --ui-border-bg: #EEEEF0;

  --blue-button-bg: #2DA5FF;
  --blue-button-bg-click: #57B7FF;
  --blue-button-text-bg: white;

  --gray-button-bg: #F4F4F6;
  --gray-button-bg-click: #EDEDED;
  --gray-button-text: #2381CC;

  --transparent-button-br-bg: black;
  --transparent-button-br-bg-click: rgba(0, 0, 0, 0.50);;

  --nonactive-button-bg: #EEEEF0;
  --nonactive-button-text-bg: white;

  --input-br-bg-active: #2DA5FF;
  --input-ph-bg: #999999;

  --input-gray-bg: #F4F4F6;
  --input-gray-ph-bg: #999999;

  --mode-switch-bg: #444444;
  --mode-switch-bg-active: #EEEEF0;
  --mode-switch-ft-bg: white;
  --mode-switch-ft-bg-active: black;

  --action-switch-bg: #F3F5F8;
  --action-switch-bg-active: white;
  --action-switch-ft-bg: #728A96;
  --action-switch-ft-bg-active: black;

  --status-switch-bg-nonactive: #F4F4F6;
  --status-switch-bg-active: #2381CC;
  --status-switch-bg: white;

  --checkbox-bg: transparent;
  --checkbox-bg-active: #2DA5FF;

  --message-text-bg: #F4F4F6;

  --message-buy-bg: #E1FFDA;

  --menu-setting-description-bg: #999999;

  --navbar-bg: linear-gradient(to top, #020103 0%, #141414 47%, #272727 100%);
  --navbar-item-bg: linear-gradient(to top, #323232 0%, #434343 47%, #515151 100%);
  --navbar-ft-bg: white;

  --course-bg: #F8F8F8;
  --course-bg-active: #E7E7E7;
  --course-ft-bg: #444444;
  --course-ft-bg-active: black;

  --news-item-bg: #F7F9FB;
  --news-item-ft-bg-link: #A81010;
  --news-item-indicator-bg: #D9D9D9; 
  --news-item-indicator-bg-choose: white;

  --description-ft-bg: #999999;

  --adder-ft-bg: #2DA5FF;

  --range-slider-bg: #F3F5F8;
  --range-slider-nonactive-bg: #728A96;
  --range-slider-active-bg: white;

  --course-bg: #F3F5F8;
  --course-bg-active: white;
  --course-ft-bg: #728A96;
  --course-ft-bg-active: black;

  --task-description: #F7F9FB;
  --task-ft-bg-expand: #2381CC;

  --size-h1: 40px;
  --size-h2: 32px;
  --size-h3: 24px;
  --size-h4: 18px;
  --size-body1: 16px;
  --size-body2: 14px;
  --size-tagline: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-bg-main);
  min-height: 100vh;
}

.no-select {
  user-select: none; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}

.no-underline {
  text-decoration: none; 
  color: inherit; 
}

.no-focus-and-active:focus,
.no-focus-and-active:active {
  -webkit-tap-highlight-color: transparent;
}

.container{
  height: 100vh;

  font-family: var(--font-family);
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container .screen {
  max-width: 500px;
  width: 100%;
  height: 100vh;
}