:root {
	--font-family: 'Inter', serif;

	--color-bg-main: white;

	--ui-border-bg: #eeeef0;
	--ui-action-bg: #2381cc;
	--ui-special-bg1: #f7f9fb;
	--ui-special-bg2: #f3f5f8;
	--ui-special-bg3: #eeeef0;
	--ui-special-ft-bg: #728a96;
	--ui-description-ft-bg: #999999;

	--button-bg: #f7f9fb;

	--blue-button-bg: #2381cc;
	--blue-button-bg-click: #2688d8;
	--blue-button-text-bg: white;

	--gray-button-bg: #f4f4f6;
	--gray-button-bg-click: #ededed;
	--gray-button-text-bg: #2381cc;

  --light-blue-bg: #D4E2EF;
  --light-blue-button-bg-click: #dde8f2;
	--light-blue-button-text-bg: #2381cc;

	--nonactive-button-bg: #eeeef0;
	--nonactive-button-text-bg: white;

	--action-switch-bg: #f3f5f8;
	--action-switch-bg-active: white;
	--action-switch-ft-bg: #728a96;
	--action-switch-ft-bg-active: black;

	--status-switch-bg-nonactive: #f4f4f6;
	--status-switch-bg-active: #2381cc;
	--status-switch-bg: white;

	--transaction-deposit-ft-bg: #31CB57;
	--transaction-withdraw-ft-bg: #FF5169;
	--transaction-transfer-ft-bg: #FEA85D;

	--course-bg: #f3f5f8;
	--course-bg-active: white;
	--course-ft-bg: #728a96;
	--course-ft-bg-active: black;

	--navbar-bg: white;
	--navbar-choose-bg: #f3f5f8;
	--navbar-non-chose-item-bg: #808080;
	--navbar-chose-item-bg: #2381cc;

	--table-bg: #f4f4f5;

	--popup-bg: white;

	--user-indicator-online: linear-gradient(to bottom, #8effcf 0%, #2ac281 100%);

	--task-discount-br-bg: #fb5234;

	--loading-ui-bg: linear-gradient(to bottom right, #fafafa, #f0f0f0, #dddddd);

	--size-h1: 40px;
	--size-h2: 32px;
	--size-h3: 24px;
	--size-h4: 18px;
	--size-body1: 16px;
	--size-body2: 14px;
	--size-tagline: 12px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overscroll-behavior: none;

	background-color: var(--color-bg-main);
}

#root {
	overflow-y: auto;
}

#root::-webkit-scrollbar {
	display: none;
}

.container {
	height: 100vh;
  padding: 0 15px 0 15px;
	font-family: var(--font-family);

	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	padding-top: var(--tg-content-safe-area-inset-top);
}

.container::-webkit-scrollbar {
	display: none;
}

.container .screen {
	max-width: 500px;
	width: 100%;
	height: 100vh;
}

.mobile-padding {
	padding: 50px 0 0 0;
}

.no-select {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.no-underline {
	text-decoration: none;
	color: inherit;
}

.no-focus-and-active:focus,
.no-focus-and-active:active {
	-webkit-tap-highlight-color: transparent;
}

.buying-task-spinner {
	width: 20px;
	height: 20px;
}
