.container-edit-task {
  padding: 30px 20px 110px 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.container-edit-task .content-edit-task {
  display: flex;
  flex-direction: column;
}

.container-edit-task .content-edit-task .text-header {
  padding: 0 0 35px 0;
}

.container-edit-task .content-edit-task > p {
  margin: 10px 0 0 10px;
  color: var(--ui-description-ft-bg);
  font-size: var(--size-tagline);
}