.container-buying-test {
  height: 100vh;
  padding: 30px 20px 0px 20px;
    
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.container-buying-test .buying-test {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-buying-test .buying-test-button-box {
  padding: 0 0 30px 0;
}

.container-buying-test .buying-test-button {
  width: 100%;
  height: 53px;

  border-radius: 10px;
}

.container-buying-test .buying-test .buying-test-button > svg > path {
  fill: var(--gray-button-text);
}

.container-buying-test .buying-test-button-box .buying-test-button .buying-test-spinner{
  width: 20px;
  height: 20px;
}
