.style-admin-popup {
  position: absolute;

  width: 130px;
  height: 60px;

  padding: 2px;

  border-radius: 5px;

  background-color: var(--ui-special-bg2);

  display: flex;
  flex-direction: column;
}

.style-admin-popup .option {
  width: 100%;
  height: 100%;

  padding: 0 6px;

  border-radius: 5px;

  display: flex;
  align-items: center;
  gap: 8px;

  transition: 0.2s background-color;
}

.style-admin-popup .option:hover {
  background-color: white;
}

.style-admin-popup .option > svg {
  flex-shrink: 0;
}

.style-admin-popup .option > p {
  font-size: var(--size-tagline);
}