.style-developers {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;
}

.style-developers .developer {
  padding: 5px 10px;
  border-bottom: 1px solid var(--ui-border-bg);
}

.style-developers .developer:last-child {
  border-bottom: 0
}