.style-arguments {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;
}

.style-arguments .argument {
  padding: 5px 10px;
  border-bottom: 1px solid var(--ui-border-bg);
}

.style-arguments .argument:last-child {
  border-bottom: 0
}