.container-edit-teacher {
  height: 100vh;
  padding: 30px 20px 0px 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-edit-teacher .content-edit-teacher {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.container-edit-teacher .edit-teacher-button-box {
  padding: 0 0 30px 0;
}

.container-edit-teacher .edit-teacher-button-box .edit-teacher-button {
  width: 100%;
  height: 53px;

  border-radius: 10px;
}