.class-task {
  width: 350px;
  height: 106px;

  font-family: var(--font-family);

  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.class-task .task-header {
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 10;
}

.class-task .task-header .task-info {
  display: flex;
  flex-direction: column;
  gap: 2px; 
}

.class-task .task-header .task-info > p {
  font-size: var(--size-body1);
  font-weight: bold;
}

.class-task .task-header .task-info > span {
  font-size: var(--size-body2);
}

.class-task .task-header .task-button-buy {
  width: 109px;
  height: 32px;
}


.class-task .task-footer{
  padding: 0 10px;

  border-top: 1px solid var(--ui-border-bg);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 7;
}

.class-task .task-footer > p {
  font-size: var(--size-body2);
}