.style-balance {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.style-balance .header {
	font-size: var(--size-body1);
}

.style-balance .amount {
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-balance .shiny-star {
  color: #ffd700; /* золотий */
  font-size: 32px;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.style-balance .integer {
	font-size: var(--size-h2);
	font-weight: 500;
}

.style-balance .fractional {
	font-size: var(--size-h4);
	font-weight: 500;
}
