.style-balance {
  color: var(--ui-text-bg);
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.style-balance .header {
	font-size: var(--size-body1);
}

.style-balance .header-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.style-balance .amount {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 6px;
}

.style-balance .currency {
  font-size: var(--size-body1);
  font-weight: 500;
}

.style-balance .integer {
	font-size: var(--size-h2);
	font-weight: 500;
}

.style-balance .fractional {
	font-size: var(--size-h4);
	font-weight: 500;
}
