.style-popup-delete {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 250px;
  height: 150px;

  border-radius: 10px;
  border: 1px solid var(--ui-border-bg);

  background-color: var(--color-bg-main);
  z-index: 9999;
}

.style-popup-delete .content-popup-delete {
  width: 100%;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.style-popup-delete .content-popup-delete .popup-delete-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.style-popup-delete .content-popup-delete .popup-delete-text > p {
  font-size: var(--size-body2);
  font-weight: bold;
  text-align: center;
}

.style-popup-delete .content-popup-delete .popup-delete-text > span {
  font-size: var(--size-tagline);
  text-align: center;
}

.style-popup-delete .content-popup-delete .popup-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.style-popup-delete .content-popup-delete .popup-buttons .popup-button {
  width: 80px;
  height: 30px;

  font-size: var(--size-tagline);
  font-weight: normal;

  border-radius: 10px;
}