.style-type-of-deposit {
  
  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;
}

.style-type-of-deposit .payment-type {
  border-bottom: 1px solid var(--ui-border-bg);
}

.style-type-of-deposit .payment-type:last-child {
  border: 0;
}