.style-chat-area {
  padding: 0 10px;

	flex: 1;
  overflow-y: auto;

  scrollbar-width: none;
}

.style-chat-area::-webkit-scrollbar {
  display: none; 
}

.message-box {
	padding: 0 0 40px;
	display: flex;
}

.message-box .message {
	padding: 10px;

	max-width: 100%;
	width: fit-content;

  color: var(--ui-text-bg);
	font-size: var(--size-tagline);

  overflow-wrap: break-word;
  word-break: break-word; 
  hyphens: auto;
}

.user-box {
	justify-content: flex-end;
}

.ai-box {
	justify-content: flex-start;
}

.user-box .user-message {
  max-width: 60%;
  
	border-radius: 10px;

  background-color: var(--ui-bg);
}

.suggest-messages-box {
  height: 100%;

  font-size: var(--size-body2);
  color: var(--ui-text-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.suggest-message {
  padding: 7px;
  width: fit-content;

	font-size:var(--size-tagline);

	border-radius: 20px;

  background-color: var(--ui-bg);

  cursor: pointer;
}

