.table-wrapper {
	border: 1px solid var(--ui-border-bg);
	border-radius: 10px;
	overflow: hidden;

	font-size: var(--size-body2);
	font-family: var(--font-family);
}

.style-table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.style-table tr {
	border-bottom: 1px solid var(--ui-border-bg);
}

.style-table td {
	width: 50%;
	padding: 10px 15px;

	border-right: 1px solid var(--ui-border-bg);

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.style-table tr:last-child {
	border-bottom: none;
}

.style-table td:last-child {
	border-right: none;
}

.style-table .key {
  width: 30%;
	background-color: var(--table-bg);
}

.style-table .value {
	white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.style-table .array-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.style-table .array-value {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}
