.style-slider {
  position: relative;
  width: 100%;
  height: 97px;
  margin: 0 auto;
  overflow: hidden;
}

.style-slider .slider-wrapper {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.style-slider .slider-wrapper .slide {
  width: 100%; 
  height: 100%;
  flex-shrink: 0;
}

.style-slider .slider-indicators {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 10;
}

.style-slider .slider-indicators .indicator-box {
  width: 15px;
  height: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.style-slider .slider-indicators .indicator-box .indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--ui-special-bg3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.style-slider .slider-indicators .indicator-box .indicator.active {
  width: 10px;
  height: 10px;
  background-color: white;
}