.style-creators {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;
}

.style-creators .creator {
  padding: 5px 10px;
  border-bottom: 1px solid var(--ui-border-bg);
}

.style-creators .creator:last-child {
  border-bottom: 0
}