.loading-file-cards {
	height: 106px;

	background-color: var(--ui-bg);
	border-radius: 20px;

	display: flex;
  flex-direction: column;
}

.loading-file-cards .header {
	height: 60px;
	padding-block: 12px;
	padding-inline: 16px 20px;

	border-bottom: 1px solid var(--ui-border-bg);

	display: flex;
	flex-direction: column;
	gap: 5px;
}

.loading-file-cards .header .name {
	width: 125px;
	height: 15px;

	border-radius: 20px;

	background-color: var(--ui-bottom-bar-bg);
}

.loading-file-cards .header .id {
	width: 200px;
	height: 15px;

	border-radius: 20px;

	background-color: var(--ui-bottom-bar-bg);
}

.loading-file-cards .bottom {
	padding-block: 10px;
	padding-inline: 16px 20px;

	display: flex;
	align-items: center;
  flex: auto;
}

.loading-file-cards .bottom .time {
	width: 150px;
	height: 15px;

	border-radius: 20px;

	background-color: var(--ui-bottom-bar-bg);
}
