.transaction-right-data {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 2px
}

.transaction-right-data .amount {
  font-size: var(--size-body2);
}

.transaction-right-data .amount.deposit {
  color: var(--transaction-deposit-ft-bg);
}

.transaction-right-data .amount.withdraw {
  color: var(--transaction-withdraw-ft-bg);
}

.transaction-right-data .amount.transfer {
  color: var(--transaction-transfer-ft-bg);
}

.transaction-right-data .time {
  font-size: var(--size-tagline);
  color: var(--ui-description-ft-bg);
}
