.classic-input-wrapper .class-input::placeholder {
  color: var(--input-ph-bg);
  font-family: var(--font-family);
  font-size: var(--size-body2);
}


.classic-input-wrapper .class-input:focus,
.class-input:not(:placeholder-shown) {
  border: 2px solid var(--input-br-bg-active);
}

.classic-input-wrapper .paste-button {
  position: absolute;

  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  padding: 0 10px;

  border: none;

  color: var(--checkbox-bg-active);
  font-family: var(--font-family);
  font-size: var(--size-tagline);

  background-color: transparent;

  cursor: pointer;

  transition: background-color 0.3s ease;
}

.classic-input-wrapper .paste-button:hover {
  background-color: var(--button-bg-hover);
}