.style-special-notification-input {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 5px;
}

.style-special-notification-input > label {
	font-family: var(--font-family);
	font-size: var(--size-body1);

	margin: 0 0 0 15px;
}

.style-special-notification-input .special-input-wrapper {
	position: relative;

  border: 1px solid var(--ui-border-bg);
  border-radius: 15px;
}

.style-special-notification-input .special-input-wrapper .load-file {
	display: flex;
	align-items: center;
	cursor: pointer;
	z-index: 2;
}

.style-special-notification-input .special-input-wrapper .textarea {
	width: 100%;

	padding: 15px 15px 0px 15px;

	font-family: var(--font-family);
  font-size: var(--size-tagline);

	border: none;
	border-radius: 16px;

	outline: none;
	resize: none;
	overflow: hidden; 

	line-height: 1.5;
	box-sizing: border-box;
}

.style-special-notification-input .special-input-wrapper .textarea-bottom {
	width: 100%;
	padding: 10px 15px;
	box-sizing: border-box;
}

.style-special-notification-input
	.special-input-wrapper
	.textarea::placeholder {
	color: var(--ui-description-ft-bg);
	font-size: var(--size-tagline);
}

.style-special-notification-input .special-input-wrapper .paste-button {
	position: absolute;
	height: 35px;

	padding: 0 10px;

	border: none;

	font-family: var(--font-family);
	color: var(--blue-button-bg);
	font-size: var(--size-tagline);

	background-color: transparent;

	cursor: pointer;
	transition: background-color 0.3s ease;

	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.style-special-notification-input .special-input-wrapper .paste-button:hover {
	background-color: var(--blue-button-bg-click);
}
