.style-range-slider {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: var(--ui-special-bg2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-range-slider .line-container {
  position: relative;
  width: 90%;
  height: 4px;
}

.style-range-slider .line {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 2px;
}

.slider-thumb {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

.style-range-slider .points {
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.style-range-slider .points .point {
  height: 40px; 
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.style-range-slider .points .point .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--ui-special-ft-bg);
}

.style-range-slider .points .point > p {
  font-family: var(--font-family);
  font-size: var(--size-tagline);
  position: absolute;
  bottom: 0;
}

.style-range-slider .points .point .circle-active {
  background-color: white;
}

.style-range-slider .points .point .circle-choose {
  width: 12px;
  height: 12px;
}

.style-range-slider .points .point:focus,
.style-range-slider .points .point:active {
  -webkit-tap-highlight-color: transparent;
}

.style-range-slider .slider-thumb:focus,
.style-range-slider .slider-thumb:active {
  -webkit-tap-highlight-color: transparent;
}