.style-roles {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;
}

.style-roles .role {
  padding: 5px 10px;
  border-bottom: 1px solid var(--ui-border-bg);
}

.style-roles .role:last-child {
  border-bottom: 0
}