.style-loading-task {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.loading-tasks {
	height: 106px;

	background-color: var(--ui-bg);
	border-radius: 20px;
}

.loading-tasks .header {
	padding-block: 14px;
	padding-inline: 16px 20px;

	display: flex;
  justify-content: space-between;
}

.loading-tasks .header .info {
	display: flex;
	gap: 5px;

  display: flex;
  flex-direction: column;
}

.loading-tasks .header .info .loading-name {
	width: 125px;
	height: 15px;

  border-radius: 20px;

	background-color: var(--loading-bg);
}

.loading-tasks .header .info .loading-price {
	width: 200px;
	height: 15px;

  border-radius: 20px;

	background-color: var(--loading-bg);
}

.loading-tasks .header .button {
  height: 24px;
  width: 95px;

  border-radius: 20px;

  background-color: var(--ui-action-bg);
}

.loading-tasks .bottom {
	padding-block: 10px;
	padding-inline: 16px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loading-tasks .bottom .developer {
  width: 150px;
	height: 15px;

  border-radius: 20px;

  background-color: var(--loading-bg);
}

.loading-tasks .bottom .icons {
	display: flex;
	gap: 10px;

  display: flex;
}

.loading-tasks .bottom .icons .icon {
  width: 20px;
	height: 20px;

  border-radius: 5px;

  background-color: var(--loading-bg);
}

.loading-tasks .bottom .time {
  width: 100px;
	height: 15px;

  border-radius: 20px;

  background-color: var(--loading-bg);
}
