.container-add-subject {
  padding: 30px 20px 110px 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-add-subject .content-add-subject {
  display: flex;
  flex-direction: column;
  gap: 35px;
}