.container-add-subject {
  height: 100vh;
  padding: 30px 20px 0px 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-add-subject .content-add-subject {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.container-add-subject .add-subject-button-box {
  padding: 0 0 30px 0;
}

.container-add-subject .add-subject-button-box .add-subject-button {
  width: 100%;
  height: 53px;

  border-radius: 10px;
}