.style-invite-list {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 10px;
}

.style-invite-list > p {
  margin: 0 0 0 10px;
  font-size: var(--size-body1);
  font-weight: bold;
}

.style-invite-list .invite-list {
  display: flex;
  flex-direction: column;

  gap: 6px;   
}

.style-invite-list .empty-list {
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.style-invite-list .empty-list > tgs-player {
  width: 123px;
  height: 123px;
}

.style-invite-list .empty-list > p {
  font-size: var(--size-body1);
  font-weight: bold;
}

.style-invite-list .empty-list > div {
  font-size: var(--size-tagline);
  text-align: center;
}