.horizontal-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 0 10px;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}