.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container .screen {
  max-width: 500px;
  width: 100%;
  height: 100vh;

  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.bt {
  width: 200px;
  height: 52px;
}