.container-choose-developer {
  padding: 30px 20px;
}

.container-choose-developer .developer-button {
  position: fixed;

  width: calc(100% - 40px);
  max-width: 460px;
  height: 52px;

  border-radius: 10px;

  bottom: 30px;    
  left: 50%;       
  transform: translateX(-50%); 
}