.style-file-card {
  position: relative;

  width: 100%; 
  min-width: 0; 
  min-height: 50px;
  padding: 0 9px;

  font-size: var(--size-body2);
  font-family: var(--font-family);
  text-align: start;

  border-radius: 10px;
  border: 1px solid var(--ui-border-bg);

  background-color: transparent;
}

.style-file-card .content {
  display: flex;
  align-items: center;
  gap: 5px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1
}

.style-file-card .content > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0; 
}

.style-file-card .content > svg {
  flex-shrink: 0;
}

.style-file-card .file-card-delete {
  position: absolute;

  top: -5px;
  right: -6px;

  width: 15px;
  height: 15px;

  background-color: white;

  border-radius: 7.5px;
  border: 2px solid var(--ui-border-bg);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}