.style-list-item {
  width: 100%;
  min-height: 42px;

  padding: 0 0 0 10px;

  border-radius: 10px;

  background-color: transparent;

  display: flex;
  align-items: center;
  gap: 15px;

  cursor: default;
}

.style-list-item .bottom-border {
  padding: 5px 10px 5px 0;

  flex: 1;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  gap: 15px;
}
/*:not(:last-of-type)*/
.style-list-item:not(:last-child) .bottom-border{
  border-bottom: 1px solid var(--ui-border-bg);
}


.style-list-item .bottom-border .center-data {
  font-family: var(--font-family);
  text-align: start;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;

  overflow-wrap: break-word;
  word-break: break-word; 
  hyphens: auto;
}

.style-list-item .bottom-border .center-data .header-text {
  font-size: var(--size-body2);
  font-weight: normal;
}

.style-list-item .bottom-border .center-data .footer-text {
  color: var(--ui-description-ft-bg);
  font-size: var(--size-tagline);
}

.style-list-item .user-photo {
  height: 26px;
  width: 26px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.style-list-item .user-photo > img {
  width: 26px;
  height: 26px;

  border-radius: 50%;

  background: var(--user-indicator-online);
}
