.container-teachers {
  height: 100vh;
  padding: 30px 20px 0px 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.container-teachers .style-teachers {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;
}

.container-teachers  .style-teachers .teacher {
  padding: 5px 10px;
  border-bottom: 1px solid var(--ui-border-bg);
}

.container-teachers  .style-teachers .teacher:last-child {
  border-bottom: 0;
}

.container-teachers .teachers-button-box {
  width: 100%;
  padding: 0 0 30px 0;
}

.container-teachers .teachers-button-box .teachers-button {
  height: 55px;
  width: 100%;
  border-radius: 10px;
}
