.style-your-link {
  display: flex;
  flex-direction: column;
}

.style-your-link > p {
  margin: 0 0 0 10px;
  padding: 0 0 10px 0;
  font-size: var(--size-body1);
  font-weight: bold;
}

.style-your-link .link {
  width: 100%;
  padding: 10px 20px;

  color: var(--description-ft-bg);
  font-size: var(--size-body2);


  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;

  cursor: pointer;
}

.style-your-link .your-link-button {
  width: 100%;
  height: 52px;

  margin: 30px 0 0 0;

  border-radius: 10px;
}