.style-your-link {
  display: flex;
  flex-direction: column;
}

.style-your-link .content {
  padding: 15px;

  border: 1px solid var(--ui-border-bg);
  border-radius: 10px;
}

.style-your-link > p {
  margin: 0 0 0 10px;
  padding: 0 0 7px 0;
  color: var(--description-ft-bg);
  font-size: var(--size-body2);
}

.style-your-link .content .link {
  width: 100%;
  padding: 10px 20px;

  font-size: var(--size-body2);

  border-radius: 10px;

  background-color: var(--course-bg);

  cursor: pointer;
}

.style-your-link .content .your-link-buttons {
  width: 100%;

  margin: 15px 0 0 0;

  border-radius: 10px;

  display: flex;
  gap: 20px;
}

.style-your-link .content .your-link-buttons .button {
  width: 100%;
  height: 41px;

  border-radius: 10px;
}